development:
  host: dc.momentumsoftware.com
  base_domain: momentumsoftware.com
  method: simple_tls

test:
  host: 127.0.0.1
  base_domain: exampleco.com
  method: simple_tls

production:
  host: 127.0.0.1
  base_domain: exampleco.com
  method: simple_tls
