<% @page_title="API Docs" %>

<h1>StackPlace <%=@page_title%></h1>

<h3>StackPlace Public APIs</h3>
<ul>
  <li><a href="/doc/stackplace/v1/stacks">StackPlace Stacks API</a></li>
  <li><a href="/doc/stackplace/v1/templates">StackPlace Templates API</a></li>
  <li><a href="/doc/stackplace/v1/accounts">StackPlace Accounts API</a></li>
  <li><a href="/doc/stackplace/v1/categories">StackPlace Categories API</a></li>
</ul>

<h3>StackPlace Internal APIs</h3>
<ul>
  <li><a href="/doc/identity/v1/accounts">StackPlace Identity Management API</a> - account creation, update, internal authorization support</li>
  <li><a href="/doc/identity/v1/orgs">StackPlace Organization Management API</a> - org creation, update, subscription and subscriber mgmt support</li>
  <li>StackPlace Category Mgmt API - coming soon</li>
</ul>

<h3>StackStudio APIs</h3>
<ul>
  <li><a href="/doc/stackstudio/v1/clouds">StackStudio Cloud Management API</a> - Cloud creation, update, mapping support</li>
  <li><a href="/doc/stackstudio/v1/projects">StackStudio Project Management API</a> - Project creation and update support, versioning, and environments
    <ul>
        <li><a href="/doc/stackstudio/v1/projects_members">Project Member Management</a> - Membership management APIs
        <li><a href="/doc/stackstudio/v1/projects_elements">Project Element Management</a> - Project Element management APIs
        <li><a href="/doc/stackstudio/v1/projects_nodes">Project Node Management</a> - Project Node management APIs
        <li><a href="/doc/stackstudio/v1/projects_variants">Project Variant Management</a> - Project variant APIs for SDLC environment support
        <li><a href="/doc/stackstudio/v1/projects_embedded">Embedded Project Management</a> - Embedded project and embedded project variant APIs
    </ul>
  </li>
  <li><a href="/doc/stackstudio/v1/provisioning">StackStudio Provisioning Management API</a> - Provisioning management for a specific project + version + environment</li>
  <li><a href="/doc/stackstudio/v1/reports">StackStudio ReportingAPI</a> - General reporting and statistics</li>
  <li><a href="/doc/stackstudio/v1/news_events">StackStudio NewsEventsAPI</a> - StackStudio news events for welcome dashboard.</li>
</ul>
